{% extends "layout.html" %}
{% block content %}
<div class="form">
	<form action="/{{project.url}}/save" method="POST">
		<div class="row">
			<div class="large-6 large-offset-3 columns">
				<div class="row">
					<div class="small-1 columns">
						<label class="inline" for="title">Title</label>
					</div>
					<div class="small-11 columns">
						<input type="text" name="title" id="title">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="large-6 large-offset-3 columns">
				<label for="description">
					Description
					<textarea name="description" rows="6" id="description" placeholder="Write..."></textarea>
				</label>
			</div>
		</div>
		<div class="row">
			<div class="large-4 large-offset-3 columns">
				<div class="row">
					<div class="small-4 columns">
						<label class="inline" for="last-date">Finish By: </label>
					</div>
					<div class="small-8 columns">
						<input type="date" name="last-date" id="last-date">
					</div>
				</div>
			</div>
			<div class="large-2 left columns">
				<button class="button" id="submit_new" name="submit_new">Create</button>
			</div>
		</div>
	</form>
</div>
{% endblock %}
