{% extends "layout.html" %}

{% from 'macros.html' import render_errors %}

{% block content %}
<div class="form">
	<form method="POST" action="" class="form">
		{{ form.hidden_tag() }}
		<div class="row">
			<div class="large-12 columns">
				<div class="row">
					<div class="small-1 columns">
						<label class="inline" for="title">Title</label>
					</div>
					<div class="small-11 columns">
						{{render_errors(form.name)}}
						{{form.name(placeholder=form.name.label.text)}}
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns">
				<label for="description">
					Description
					{{render_errors(form.description)}}
					{{form.description(placeholder=form.description.label.text, rows=10)}}
				</label>
			</div>
		</div>
		<div class="row">
			<div class="large-2 large-offset-5 columns">
				<button class="button" id="submit" name="submit">Create</button>
			</div>
		</div>
	</form>
</div>
{% endblock %}
